<div style="margin: 20px;">
    <div class="zip-form">
        <p>
            Showing ballot for zip: {{ zip }}
        </p>
        <form style="max-width: 250px;" #zipForm="ngForm" (ngSubmit)="submitNewZip(zipForm.form)">
            <div class="form-group X-row">
                <div class="X-col-sm-10">
                    <div class="input-group mb-3">
                        <input class="form-control" name="newZip" placeholder="Enter your zip code." ngModel #newZip="ngModel"
                            required minlength="5" maxlength="5">
                        <div class="input-group-append">
                            <button style="background-color: #1505bb" class="btn btn-primary" [disabled]=!zipForm.valid>
                                <i class="fas fa-arrow-circle-right"></i>
                            </button>
                            <button style="background-color: #1505bb" type="button" class="btn btn-primary" (click)="onUpdateZipThroughDeviceLocation()">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-muted"></small>
        </form>
    
        <div *ngIf="noZip">
            <p>Zip code not detected. Please enter a valid zipcode.</p>
        </div>
    </div>

    <div *ngIf="loading" style="margin: auto; width: 0%; padding-bottom: 15;">
        <div class="spinner-border" style="vertical-align: center;"></div>
    </div>

    <div *ngFor="let item of officials; let i = index;">
        <button class="accordion" (click)="toggleAccordian($event, i)">{{ item.election }}</button>
        <div class="panel row">
            <div *ngFor="let candidate of item.candidates">
                <div class="col-sm-4" style="padding-bottom: 10px;">
                    <div class="card" style="width: 256;">
                        <img class="card-img-top"
                            [src]="[candidate.photo? candidate.photo : '/assets/img/profile_default_img.png']"
                            alt="Card image cap">
                        <div class="text-center">
                            <h5 class="card-title">{{ candidate.name }}</h5>
                            <p class="card-text">{{ candidate.party }}</p>
                            <a [routerLink]="['/candidate', candidate.candidate_id]" class="btn btn-profile">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>