<div style="margin: 20px;">
    <div class="alert alert-primary" role="alert">
        Notice claim: Our data may not be completely updated for each election as it is still under development. 
    </div>

    <div *ngFor="let item of data; let i = index;">
        <button class="accordion" (click)="toggleAccordian($event, i)">{{ item.election }}</button>
        <div class="panel card-columns">
            <div class="card" style="height: 256px; width: 256px;" *ngFor="let candidate of item.candidates">
                <img class="card-img-top" src="{{candidate.img}}"
                    alt="Card image cap" height="256" width="256">
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text">{{ candidate.party }}</p>
                    <a [routerLink]="['/candidate', candidate.candidate_id]" class="btn btn-profile">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>