<!-- <div class="sidenav">
    <ul>
        <li>US Primary 2020</li>
        <ul>
            <li>Donald Trump</li>
            <li>Joe Biden</li>
            <li>Third Party</li>
        </ul>
        <li>US Senate District 8</li>
        <ul>
            <li>Shrek</li>
            <li>Micky Mouse</li>
            <li>Koala</li>
        </ul>
    </ul>
</div> -->


<div class="sidenav">
    <button class="dropdown-btn" type="button" data-toggle="dropdown">US Primary 2020
        <i class="fa fa-caret-down" fill="currentColor"></i>
    </button>
    <div class="dropdown-container" *ngIf="test">
        <a href="#">Donald Trump</a>
        <a href="#">Joe Biden</a>
        <a href="#">Irrelevant</a>
    </div>
</div>
