<div>
    <div class="container" style="padding-top: 10px">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">

                <div style="display:inline-block; padding-bottom: 5px;">
                    <img [src]="[candidate.photo? candidate.photo : '/assets/img/profile_default_img.png']"
                        style="width: 128; border-radius: 30%;" alt="Card image cap">
                </div>

                <div style="display: inline-block; vertical-align: bottom; padding-left: 5px;">
                    <h2>{{candidate.name}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #ebebeb; display: block; overflow: auto; height: 100%;">
        <div class="container">
            <div class="row" style="margin-top: 5px;">
                <div class="col-3">
                    <div class="nav flex-column nav-pills text-center sticky-top" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link btn" id="v-pills-home-tab" [routerLink]="" (click)="changeTab($event)" role="tab"
                            aria-controls="v-pills-home" [ngClass]="{'active': !isBioHidden}">Bio</button>
                    
                        <button class="nav-link btn" id="v-pills-profile-tab" [routerLink]="" (click)="changeTab($event)" role="tab"
                            aria-controls="v-pills-profile" font= "me" [ngClass]="{'active': !isTwitterHidden}" title="{{candidateTweets.tweets.length == 0 ? 'No Twitter feed available.' : ''}}"
                            [disabled]="candidateTweets.tweets.length == 0" >Twitter</button>
                        <button class="nav-link btn" id="v-pills-messages-tab" [routerLink]="" (click)="changeTab($event)" role="tab"
                            aria-controls="v-pills-messages" [ngClass]="{'active': !isVotesHidden}" title="{{voteHistory.length == 0 ? 'No vote history available.' : ''}}" 
                            [disabled]="voteHistory.length == 0">Votes</button>
                    </div>
                </div>

                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div [hidden]="isBioHidden" class="tab-pane fade show active" id="home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <button class="accordion" (click)="toggleAccordian($event)">Bio</button>
                            <div class="panel">
                                <div class="row no-gutters">
                                    <div><b>Birthdate:</b> {{candidate.birthDate}}</div>
                                </div>
                                <div class="row no-gutters">
                                    <div><b>Gender:</b> {{candidate.gender}}</div>
                                </div>
                                <div class="row no-gutters">
                                    <div><b>Religion:</b> {{candidate.religion}}</div>
                                </div>
                                <div class="row no-gutters">
                                    <div><b>Home City:</b> {{candidate.homeCity}}</div>
                                </div>
                                <div class="row no-gutters">
                                    <div><b>Family:</b> {{candidate.family}}</div>
                                </div>
                            </div>
                            <button class="accordion" (click)="toggleAccordian($event)">Experience</button>
                            <div class="panel">
                                <div>
                                    <div><b>Party:</b> {{candidate.party != undefined ? candidate.office.party : 'No Information Available'}}</div>
                                </div>
                                <div>
                                    <div><b>Office:</b></div>
                                    <div>Type: {{candidate.office.type != undefined ? candidate.office.type : 'No Information Available'}}</div>
                                    <div>Position: {{candidate.office.title != undefined ? candidate.office.title : 'No Information Available'}}</div>
                                    <div>Status: {{candidate.office.status != undefined ? candidate.office.status : 'No Information Available'}}</div>
                                </div>

                                <div>
                                    <div class="row no-gutters">
                                        <b>Education:</b> {{candidate.education.institution == undefined ? ' No Information Available' : ''}}
                                    </div>
                                    
                                    <div *ngIf="candidate.education.institution != undefined;">
                                        <ul>
                                            <div *ngIf="isArray(candidate.education.institution); else educationInstitution">
                                                <div *ngFor="let institution of candidate.education.institution">
                                                    <li>{{institution.fullText}}</li>
                                                </div>
                                            </div>

                                            <ng-template #educationInstitution>
                                                <li>{{candidate.education.institution.fullText}}</li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div class="row no-gutters">
                                        <b>Professional Experience:</b>{{candidate.profession.experience == undefined ? ' No Information Available' : ''}}
                                    </div>
                                    
                                    <div *ngIf="candidate.profession.experience != undefined;">
                                        <ul>
                                            <div *ngIf="isArray(candidate.profession.experience); else professionalExperience">
                                                <div *ngFor="let experience of candidate.profession.experience">
                                                    <li>{{experience.fullText}}</li>
                                                </div>
                                            </div>

                                            <ng-template #professionalExperience>
                                                <li>{{candidate.profession.experience.fullText}}</li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div class="row no-gutters">
                                        <b>Political Experience:</b>{{candidate.political.experience == undefined ? ' No Information Available' : ''}}
                                    </div>
                                    
                                    <div *ngIf="candidate.political.experience != undefined;">
                                        <ul>
                                            <div *ngIf="isArray(candidate.political.experience); else politicalExperience">
                                                <div *ngFor="let experience of candidate.political.experience">
                                                    <li>{{experience.fullText}}</li>
                                                </div>
                                            </div>

                                            <ng-template #politicalExperience>
                                                <li>{{candidate.political.experience.fullText}}</li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <div class="row no-gutters">
                                        <b>Organizational Membership:</b>{{candidate.orgMembership.experience == undefined ? ' No Information Available' : ''}}
                                    </div>
                                    
                                    <div *ngIf="candidate.orgMembership.experience != undefined;">
                                        <ul>
                                            <div *ngIf="isArray(candidate.orgMembership.experience); else orgMembershipExperience">
                                                <div *ngFor="let experience of candidate.orgMembership.experience">
                                                    <li>{{experience.fullText}}</li>
                                                </div>
                                            </div>

                                            <ng-template #orgMembershipExperience>
                                                <li>{{candidate.orgMembership.experience.fullText}}</li>
                                            </ng-template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button class="accordion" (click)="toggleAccordian($event)">Social Media Links</button>
                            <div class="panel">
                                <b>Campaign: </b>
                                <div *ngIf="socialMediaLinks.campaign.length > 0; else noLinksAvailable">
                                    <ul>
                                        <div *ngFor="let socialMedia of socialMediaLinks.campaign">
                                            <li>
                                                <a [href]="socialMedia.address" target="_blank" rel="noopener noreferrer">
                                                    <i [ngClass]="socialMediaIcons[socialMedia.type]"></i>
                                                    {{socialMedia.address}}
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                
                                <br/>
                                <b>Office: </b>
                                <div *ngIf="socialMediaLinks.office.length > 0; else noLinksAvailable">
                                    <ul>
                                        <div *ngFor="let socialMedia of socialMediaLinks.office">
                                            <li>
                                                <a [href]="socialMedia.address" target="_blank" rel="noopener noreferrer">
                                                    <i [ngClass]="socialMediaIcons[socialMedia.type]"></i>
                                                    {{socialMedia.address}}
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>

                                <ng-template #noLinksAvailable>No links available</ng-template>
                            </div>
                        </div>
                        <div [hidden]="isTwitterHidden" class="tab-pane fade show active" id="profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <div *ngIf="candidateTweets.tweets.length > 0">
                                <div *ngFor="let tweet of candidateTweets.tweets;">
                                    <ngx-tweet tweetId="{{tweet.id_str}}"></ngx-tweet>
                                </div>
                                <div *ngIf="tweetsLoading">
                                    <div class="spinner-border"></div>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="isVotesHidden" class="tab-pane fade show active" id="messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                            <div *ngIf="voteHistory.length > 0">
                                <div *ngFor="let votes of voteHistory">
                                    <div class="list-group">
                                        <div [ngClass]="votes.vote.toLowerCase().split(' ').join('-')"
                                            class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{votes.billNumber}}: {{votes.billTitle}}</h5>
                                            </div>
                                            <h6 class="mb-1">Bill Stage: {{votes.stage}}</h6>
                                            <h6 class="mb-1">Voted: {{votes.vote}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>