/* .accordion {
  background-color: #dd1111;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  width: 85%;
  border: none;
  text-align: left;
  font-size: 20px;
  transition: 0.4s;
  font-family: Merriweather, Cambria, Georgia;
  box-shadow: 0 0 0 2px black;
  border-radius: 5px;
}

.active, .accordion:hover {
  background-color: #ff0028;
}

.panel {
  padding: 15px;
  background-color: white;
  height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.row .name {
    display: table-cell;
    vertical-align: bottom;
    float: none;
  }

.row {
  display: table;
}

.container {
  margin-left: 20px;
} */


