.accordion {
  background-color: #dd1111;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  /* width: 85%; */
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
  transition: 0.4s;
  font-family: Merriweather, Cambria, Georgia;
  box-shadow: 0 0 0 2px black;
  border-radius: 5px;
}

/* .active, .accordion:hover {
  background-color: #ff0028;
} */

.panel {
  padding: 15px;
  background-color: white;
  height: auto;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.row .name {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

html, body {
  overflow-y: hidden;
}

.yes
{
  background-color: #c1ffcc;
}


.no
{
  background-color: #ffc1cc;
}

.did-not-vote
{
  background-color: lemonchiffon;
}

.sponsor, .co-sponsor
{
  background-color: lightblue;
}

.unknown-vote
{
  background-color: lightgray;
}

.nav-link.active
{
  background-color: #150cbb;
}

.btn 
{
  font-family: Merriweather, Cambria, Georgia;
}

::selection 
{
    color: white; 
    background: #1505bb;
}

::-moz-selection 
{ 
    /* Code for Firefox */
    color: white;
    background: #1505bb;
}

/* .tab-content {
  background-color: gray;
} */
/* .row {
  display: table;
} */

/* .container {
  margin-left: 20px;
} */


